html,
body {
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
	min-width: 320px;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
	max-width: 1920px;
	padding: 0 10px;
	margin: 0 auto;
}

.swiper-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 69px !important;
}

.swiper-pagination .swiper-pagination-bullet{
	background-color: $title;
	opacity: 1;
	margin: 0 15px !important;
}


.swiper-pagination-bullet-active{
	background-color: #ffef35 !important;
}





